<div class='form-content'>
  <%= form_for(:movie, url: share_path) do |f| %>
    <%= f.hidden_field :share_type, value: 'youtube' %>
    <fieldset>
      <legend>Share a Youtube movie</legend>
      <div class="field">
        <%= f.label :link %>
        <%= f.text_field :link, class: 'f-right' %>
      </div>
      <div class="actions">
        <%= f.submit "Share", class: 'f-right' %>
      </div>
    </fieldset>
  <% end %>
</div>